.Nav-layout{
    width: 15%;
    height: 100%;
    background:black;
    float:left;
    transition: all .3s;
    position: fixed;
    z-index: 2;
}

.Container-layout{
    width: 85%;
    height: 100vh;
    float:right;
    transition: all .3s;
}

.Slider-layout{
    height: 18vh;
    background:red;
}

.Content-layout{
    background: white;
}

.hide{
    width: 0%;
}

.long{
    width:100%;
    float:none;
}
.slide-left{
    transform:translateX(-100%);
}